<div style="text-align: center;width: 100%; height: 100%;">
  <table *ngIf="responseBoard.maxSize > 0" class="table table-bordered" cellspacing="0" cellpadding="0">
    <tr *ngFor="let i of responseBoard.maxSize|times" style="padding: 0;">
      <td *ngFor="let j of responseBoard.maxSize|times; let idx = index;"
          style="border:1px solid;padding: 1px;" [attr.position-cell]="[i,j]"
          (click)="cellClicked(i,j,validateIndex(i,j),validateFounded(j,i))">
        {{responseBoard.wordsLetters[i][j]}}
      </td>
    </tr>
  </table>
</div>
<!--<button type="button" (click)="getHint('AAAA')">Get Hint</button>-->
<router-outlet></router-outlet>
<!--[ngClass]="{'highlight': validateIndex(i,j),'founded': validateFounded(j,i),'hinted': validateHinted(j,i)}"-->
